<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title> CodeChat | Home </title>
</head>
<body>
    
    <div id="outer">
<h1> CODE CHAT</h1>
<div id="form">


<form action="/login" method="post">
<table>
<tr>
    <td>
        <input type="email" name="email" id="" placeholder="Enter your email">
    </td>
</tr>
<tr>
    <td>
        <input type="password" name="password" id="" placeholder="Enter your password">
    </td>
</tr>
<tr>
    <td>
        
        <input type="submit" value="Sign In" id="submit">
    </td>
</tr>




</table>






</form>
</div>


<div class="signup">New to codechat ? <a href="/signup-page">Sign Up</a> here</div>
    </div>






</body>
</html>