<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title> CodeChat | Home </title>
</head>
<body>
    
    <div id="outer">
<h1> CODE CHAT</h1>
<div id="form">


<form action="/signup" method="post">
<table>
<tr>
    <td>
        <input type="text" name="name" id="" placeholder="Enter your name" required>
    </td>

    <td>
       <input type="email" name="email" id="" placeholder="Enter your email" required>
    </td>
</tr>
<tr>
    <td>
        <input type="password" name="password" id="" placeholder="Enter a password" required>
    </td>
    <td>
        <input type="password" name="confirmPassword" id="" placeholder="Confirm password" required>
    </td>
</tr>
<tr>
    <td>
        
        <input style="position: relative; left: 13rem;" type="submit" value="Sign Up" id="submit">
    </td>
</tr>




</table>






</form>
</div>


<div class="signup">Already a user ? <a href="/signin-page">Sign In</a> here</div>
    </div>






</body>
</html>